/.pytest_cache
/formatted_resume_output.docx
/scratch
/tests/__pycache__/
__pycache__/
/__pycache__/
*.py[cod]
*.pyc   
.env
.venv/
.mypy_cache/
.coverage
local_store/
docker/
*.log
.DS_Store
.idea/
.vscode/
src/worker/core/__pycache__/llm.cpython-311.pyc
src/worker/__pycache__/agentic_core.cpython-311.pyc
src/worker/agents/template_analysis/__pycache__/graph.cpython-311.pyc
tests/__pycache__/test_templates.cpython-311-pytest-8.4.2.pyc
tests/__pycache__/test_templates.cpython-311-pytest-8.4.2.pyc
src/worker/agents/template_analysis/__pycache__/graph.cpython-311.pyc
src/worker/__pycache__/agentic_core.cpython-311.pyc
